@media (max-width: 1399.98px) {
    .headline {
        font-size: 3.25rem;
    }
}

@media (max-width: 1199.98px) {
    .headline {
        font-size: 2.75rem;
    }

    .title {
        font-size: 2.25rem;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        left: -260px;
        transition: 600ms;
    }

    .sidebar.active {
        transition: 600ms;
        left: 0;
    }

    .dashboard {
        padding-left: 0;
    }

    .headline {
        font-size: 3rem;
    }

    .content-gap {
        margin-top: 42px;
    }

    .homepage section.hero {
        height: fit-content;
    }

    .homepage section.cta {
        padding: 62px 52px;
    }
}

@media (max-width: 767.98px) {
    .headline {
        font-size: 2.625rem;
    }

    .title {
        font-size: 2rem;
    }

    .content-gap {
        margin-top: 36px;
    }

    .section-gap {
        padding-top: 82px;
    }

    .section-gap-margin {
        margin-top: 82px;
    }

    .homepage section.special-offer .card-special-offer > img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .homepage section.cta {
        padding: 42px 24px;
    }
}

@media (min-width: 992px) {
    .topbar,
    .dashboard .content {
        padding: 0 42px;
    }
}